{
  "presets": [
    ["@babel/preset-env",
    {
      "targets": "> 1%, not dead"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-runtime"
  ]
}